<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{item.name}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="showOptions($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding-horizontal>

    <ion-row align-items-center nowrap>
        <ion-searchbar [(ngModel)]="searchValue" no-padding padding-vertical padding-right>
        </ion-searchbar>
        <button ion-button icon-only (click)="showNewItemPage(searchValue)">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-row>

    <ion-list reorder="true">
        <ng-container *ngFor="let item of items | async">
            <ion-item-sliding *ngIf="item.active && listOptions.showActive">
                <ion-item (click)="goToListPage(item)">
                    <ion-icon *ngIf="item.type == 'list'" name="list" item-start></ion-icon>
                    <ion-icon *ngIf="item.type != 'list'" name="pricetag" item-start></ion-icon>
                    {{item.name}}
                </ion-item>
                <ion-item-options *ngIf="item.type != 'list'" side="left" (ionSwipe)="executed(item)">
                    <button ion-button expandable (click)="executed(item)">Zrobione</button>
                </ion-item-options>
                <ion-item-options side="right">
                    <button ion-button (click)="unread(item)">Usuń</button>
                </ion-item-options>
            </ion-item-sliding>
        </ng-container>

        <ng-container *ngFor="let item of items | async">
            <ion-item-sliding *ngIf="!item.active && listOptions.showDone">
                <ion-item  class="item-done" (click)="goToListPage(item)">
                    <ion-icon *ngIf="item.type == 'list'" name="list" item-start></ion-icon>
                    <ion-icon *ngIf="item.type != 'list'" name="pricetag" item-start></ion-icon>
                    {{item.name}}
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button (click)="removeItem(item)">Usuń</button>
                </ion-item-options>
            </ion-item-sliding>
        </ng-container>
    </ion-list>

</ion-content>
