page-home {

  .item-done {
    color: #AAA
  }

  .ion-icon-add {
    font-size: 1.4em;
  }

  .ion-icon-done {
    font-size: 1.2em;
  }

  #searchAddButton {
    height: 4.2rem;
    width: 4.7rem;
    margin: 0px;
  }

}
