<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            {{item.name}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="showOptions($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding-horizontal>

    <ion-row align-items-center nowrap>
        <ion-searchbar [(ngModel)]="searchValue" no-padding padding-vertical padding-right>
        </ion-searchbar>
        <button ion-button icon-only (click)="showNewItemPage(searchValue)">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-row>

    <ion-list *ngIf="((listOptions.searchInActive || listOptions.searchInDone) && searchValue) || listOptions.showActive || listOptions.showDone">

        <ng-container *ngFor="let itm of items | async | filter: searchValue | sort: [{name: 'category'}, {name: 'active', reverse: true}, {name: this.listOptions.sortField, primer: this.rd, reverse: this.listOptions.sortDesc}]; let i =index">

            <ion-item-divider *ngIf="isCategoryChanged(i, itm.category)" color="light">
                <!--<ion-icon name="cos" item-start></ion-icon>-->
                {{itm.category}}
            </ion-item-divider>

            <ion-item-group reorder="{{listOptions.sortField === 'order'}}" (ionItemReorder)="reorderItems($event)">
                <ng-container *ngIf="((listOptions.searchInActive && searchValue) || listOptions.showActive) && itm.active">
                    <ion-item-sliding>
                        <ion-item *ngIf="itm.type == 'list'" (click)="goToListPage(itm)">
                            <ion-icon name="list" item-start></ion-icon>
                            {{itm.name}}
                        </ion-item>
                        <ion-item *ngIf="itm.type != 'list'" (click)="goToEditPage(itm)">
                            <ion-icon name="pricetag" item-start></ion-icon>
                            {{itm.name}}
                        </ion-item>
                        <ion-item-options *ngIf="itm.type != 'list'" side="left" (ionSwipe)="executed(itm)">
                            <button ion-button expandable (click)="executed(itm)">Zrobione</button>
                        </ion-item-options>
                        <ion-item-options side="right">
                            <button ion-button (click)="removeItem(itm)">Usuń</button>
                        </ion-item-options>
                    </ion-item-sliding>
                </ng-container>
            </ion-item-group>

            <ion-item-group *ngIf="((listOptions.searchInDone && searchValue) || listOptions.showDone) && !itm.active" reorder="{{listOptions.sortField === 'order'}}" (ionItemReorder)="reorderItems($event)">
                <ion-item-sliding>
                    <ion-item class="item-done" (click)="goToListPage(itm)">
                        <ion-icon *ngIf="itm.type == 'list'" name="list" item-start></ion-icon>
                        <ion-icon *ngIf="itm.type != 'list'" name="pricetag" item-start></ion-icon>
                        {{itm.name}}
                    </ion-item>
                    <ion-item-options side="right">
                        <button ion-button (click)="removeItem(itm)">Usuń</button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-item-group>

        </ng-container>

    </ion-list>

</ion-content>
