<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Categories
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding-horizontal>

    <ion-row align-items-center nowrap>
        <ion-searchbar #nameInput [(ngModel)]="searchValue" no-padding padding-vertical padding-right>
        </ion-searchbar>
        <button id="searchAddButton" ion-button icon-only (click)="goToNewCategoryPage()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-row>

    <ion-list radio-group reorder [(ngModel)]="categoryName" (ionItemReorder)="reorderCategories($event)">
        <ion-item-sliding *ngFor="let ctgr of categories | async | categoryFilter: searchValue">
            <ion-item (click)="goToEditCategoryPage(ctgr)">
                <ion-icon name="paper" item-start></ion-icon>
                <ion-label>{{ctgr.name}}</ion-label>
                <ion-radio *ngIf="categoryName" checked="{{ctgr.name === categoryName}}" item-end value="{{ctgr.name}}" (ionSelect)="categoryChosen()"></ion-radio>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button (click)="removeCategory(ctgr)">Remove</button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

</ion-content>
