<!-- Generated template for the OptionsComponent component -->
    <ion-item-group no-lines>
        <ion-item-divider color="light">View</ion-item-divider>
        <ion-item>
            <ion-label>Show active</ion-label>
            <ion-toggle [(ngModel)]="showActive" (click)="close()"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Show done</ion-label>
            <ion-toggle [(ngModel)]="showDone" (click)="close()"></ion-toggle>
        </ion-item>
        <ion-item>Show</ion-item>
        <ion-item-divider color="light">Sort by</ion-item-divider>
        <ion-item>Show</ion-item>
        <ion-item>Show</ion-item>
        <ion-item>Show</ion-item>
    </ion-item-group>